div.hms-container {
    position: fixed;
    left: 0;
    top: 40%;

    border: 1px solid gray;
    border-radius: 4px;
    background: #F3F3F3;
}

ul.hms-plugins {
    list-style: none outside none;
    padding-left: 8px;
    margin-right: -12px;
    margin-left: 0;
}