div.hms-container {
    text-align: center;
    background-color: #EEEEEE;
    padding-top: 5px;
    padding-bottom: 3px;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}

ul.hms-plugins {
    list-style: none outside none;
    padding-left: 0;
    margin-left: 0;
}

ul.hms-plugins li {
    display: inline-block;
}