div.hms-container {
    text-align: center;
    background-color: #EEEEEE;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}

ul.hms-plugins {
    list-style: none outside none;
    padding-left: 0;
    margin: 7px 0 3px 0;
}

ul.hms-plugins li {
    display: inline-block;
}